#contact-page {
  background-color: lightgray;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contactDetails {
  margin-right: 40px;
}
span:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  height: 80vh;
}
.header h3 {
  font-style: italic;
}
#socialMediaHandles {
  height: 100vh;
  padding: 20px;
  margin: 10px;
}
.cardHolder {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
}
.cardImg img {
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
}
.cardContent {
 
  font-size: 1.2rem;
  font-weight: 600;
  font-style: oblique;
  color: blue;
}
