.headings h1{
    font-size: 1.7vw;
    font-style:italic;
    color: bisque;
}
.headings h1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(195, 195, 195);
    transform:scaleY(1.1);
}