.headings h1{
    font-size: 1.2em;
    font-style:italic;
    color: rgb(248, 216, 176);
}
.headings h1:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(195, 195, 195);
    transform:scaleY(1.1);
}