.navbar {
  display: flex;
  position: sticky;
  top:0;
  background-color: black;
  z-index: 999;
}
.navLogo {
  flex: 0.5;
  padding-left: 2em;
}
@media screen and (max-width: 380px) {
  /* .navLogo .navImg{
    height: 40px;
    width: 44px;
    } */
   
}

.navImg {
  height: 5vw;
  width:   5vw;
  border-radius: 20%;
  cursor: pointer;
}
.navHeadings {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}
