.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top:0;
  background-color: black;
  z-index: 999;
}
.navLogo {
  flex: 0.3;
  padding-left: 2em;
}

.navHeadings {
  flex: 0.7;
  display: flex;
  max-width: 34em;
  justify-content: space-between;
  padding-right: 1em;
}
