.navbar {
  display: flex;
  position: sticky;
  top:0;
  background-color: black;
  z-index: 999;
}
.navLogo {
  flex: 0.5;
  padding-left: 2em;
}
@media screen and (max-width: 380px) {
  .navLogo .navImg{
    height: 40px;
    width: 44px;
    }
    .headings{
        font-size: 6px;
    }
}

.navImg {
  height: 80px;
  width: 84px;
  border-radius: 20%;
  cursor: pointer;
}
.navHeadings {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  padding-right: 1em;
}
