.home{
    width: 100%;
  padding-top: 1em;
  min-height: 98vh;
  margin-bottom: 2em;
    
}
.welcomeMsg{
    text-align: center;
     padding: 10px;
}
.firstN{
    color:rgb(20, 154, 220);
    
}
.lastN{
 
      color:purple;
}
.homeContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap; 
    
}

.homeLeft{ 
   width:100%;
   max-width: 44em;
   display:flex;
   align-items: center;
      
}

.socialChannels{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:60%;
    margin: 1em;
}

 .profileImg{ 
   height:56vh;
   border:2px solid white;
   box-shadow: 2px 2px 2em 1em  red;
   border-radius: 1em;

}



.icon{
     transform: scale(1.4);
    color: plum
    
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.connect{
    color:gray;
    font-style: oblique;
}








