.home{
    min-height: 100vh;
    width: 100%;
  padding-top: 3em;
    
}
.welcomeMsg{
    text-align: center;
    height: 120px;
     padding: 10px;
}
.firstN{
    color:rgb(20, 154, 220);
    font-size: 4vw;
}
.lastN{
    font-size: 4vw; 
      color:purple;
}

.profileImg{
    height: 26vw;
    width: 60%;
    border-radius: 19% 4% 19% 4%;
    border: 3px solid rebeccapurple;
    position: absolute;
    padding: 2vw 0em 0em 2vw;
    right:2em;
    
   
}
.homeContainer{
    display: flex;
}
.homeRight{
   flex:0.4;
    position: relative;
    height:50vh ;
    
}
.homeLeft{
    flex:0.5;
    margin:0 20px;
    padding: 0 3em;
   
   
 }
.intro{
   font-size: 1.2rem;
    padding-right: 2rem;
    line-height: 1.2rem;
}
.socialChannels{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.media{
    margin:4px
}
.icon{
     transform: scale(1.4);
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.connect{
    color:gray;
    font-style: oblique;
}








