.home{
    width: 100%;
  padding-top: 1em;
  min-height: 98vh;
  margin-bottom: 2em;
    
}
.welcomeMsg{
    text-align: center;
     padding: 10px;
     margin:1em;
     font-family:'Times New Roman', Times, serif;
}
.firstN{
    color:rgb(220, 80, 20);
    
}
.lastN{
      color:rgb(188, 22, 213);
}
.homeContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap; 
    
}

.homeLeft{ 
   width:100%;
   max-width: 44em;
   display:flex;
   align-items: center;
      
}

.socialChannels{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:60%;
    margin: 1em;
}

 .profileImg{ 
   height:56vh;
   border:2px solid white;
   box-shadow: 2px 2px 2em 1em  red;
   border-radius: 1em;

}



.icon{
     transform: scale(1.4);
   color:rgb(183, 193, 190)
    
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.connect{
    color:gray;
    font-style: oblique;
}








