.singleProject{
    background-color: rgb(10, 153, 136);
    height: 30vh;
    width: 24vw;
    margin:0.8em;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2em;
  
}

.singleProject:hover{
    transform: scale(1.1);
   border-radius: 5%;
}



