body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.pagination{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom:15px;  
    
}
a{
    text-decoration: none;   
}
@media screen and (max-width: 500px) {
  /* .navLogo .navImg{
    height: 40px;
    width: 44px;
    } */

    
 .headings .nav{
      font-size:3vw;
    }

    .navbar .navHeadings{
      flex:2
    }

  .homeLeft  .intro{
       font-size: 8px;

    }

    
  .homeLeft  .socialChannels{
      
    
     transform: scale(0.7);
     width: 100%;
      
    }
 .commentsContainer .commentBox{
      height: 16em;
      width: 14em;
    }

    .formfield label{
        font-size: 1em;
    }
 .footerContainer .footerRight{
   display: inline
    }

    .app .pagination{
      bottom: 0;
    }
   
}








