body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.pagination{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom:15px;  
    
}
a{
    text-decoration: none;
    
}