body{
    background-color: black;
    color: white;
    overflow-x: hidden;
 
}
.pagination{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom:4px;  
    
}
  
a{
  text-decoration:none;
}
@media screen and (max-width: 500px) {
   .navImg{
    height: 3em !important;
    width: 3em !important;
    } 

    
 .headings .nav{
      font-size:1em;
    }

    .navbar .navHeadings{
      flex:2
    }

  .homeLeft  .intro{
       font-size: 0.8em;
  }    
  .homeLeft  .socialChannels{
      transform: scale(0.7);
     width: 100%;
      
    }
    
    .homeRight .profileImg{
        right:0.8em;
         height:65%;
         width:23vw
    }
 .commentsContainer .commentBox{
      height: 13em;
      width: 12em;
    }

    .formfield label{
        font-size: 1em;
    }
 

    .app .pagination{
      bottom: 0;
    }
   
}








