
.projects{
  margin:1em;
    min-height: 100vh;
    
 
}
.projects >h2{
      color: palevioletred;
     margin-top: 10px;
}

.projectsHeading{
   text-align: center;
   margin:1em;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.projectContainer{
    display: flex;
     justify-content: center;
     align-items: center;
}





