
.projects{
   padding:4em;
    min-height: 100vh;
    width: 100%;
 
}
.projects >h2{
      color: palevioletred;
     margin-top: 10px;
}

.projectsHeading{

   margin:10px auto;
    height: 20vh;
    width: 50%;
    font-size: 1.1em;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}





