
.aboutMe{
    min-height: 100vh;
    width: 100%;
}
.break{
   
    background-color: red;
    height: 3px;
    width: 50%;
 margin:1px auto;
 margin-bottom: 40px;
}
.commentsContainer{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-around;
}





