
.techStack{
    padding-top: 3em;
    min-height: 90vh;
    width: 100%;
    margin-bottom: 4rem;
}
.techTitle{
    text-align: center;
    margin:20px auto;
    padding:10px;
    font-style: oblique;
    font-size: 2.5em;
    text-decoration: underline 2px;

}

.techIntro{
  color:rgb(201, 227, 230);
    max-width:40em;
    margin:1em;
    padding: 1em;
    font-size: 1.1em;
}

.techContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:70vw
}






