.commentBox{
    background-color: rgb(232, 229, 25);
    position:relative;
    height: 12em;
    width: 15em;
    margin:1.2em;
    border-radius: 5%;
    box-shadow: -0.2em -0.2em 1em rgb(225, 225, 214)  ;
}
.comment{
    background-color: rgb(12, 182, 86);
    position: absolute;
     right: -1.2em;
     bottom: -1.2em;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
     border-radius: 5%;
    
} 
.comment h2{
  color:rgb(4, 2, 48);
  font-size: 1.4rem;
  
}
/*
.commentBox p{
  line-height: 1.4;
  padding-left: 0.5em;
  padding-right: 0.5em;

 
} */