.commentBox{
    background-color: rgb(25, 232, 60);
    position:relative;
    height: 15em;
    width: 15em;
    margin:20px;
}
.comment{
    background-color: rgb(108, 36, 241);
    position: absolute;
     right: -1.2em;
     bottom: -1.2em;
    height: 100%;
    width: 100%;
    text-align: center;
    
}
.commentBox p{
  line-height: 1.4;
  padding: 1em;
 
}