.comment{
    background-color: yellowgreen;
    position:relative;
    height: 15em;
    width: 15em;
    margin:20px
}
.commentBox{
    background-color: rgb(255, 0, 208);
    position: absolute;
     right: -1.2em;
     bottom: -1.2em;
    height: 15em;
    width: 14em;
}