.footer{
    padding-top: 3em;
   background-color: rgb(233, 89, 89);
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}
.footerContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;       
}
.footerRight{  
    display: flex;
     margin:1rem;
    width:22em;
    padding:1rem;
}
label{
    margin:10px
}
form ::placeholder{
    color: grey !important;
}

.footerLowerPart{
   margin:1em;
}

.msgLogo img{
    height: 25px;
    margin-left:10px;
    cursor: pointer;
}







