.footer{
    padding-top: 3em;
    min-height: 80vh;
   background-color: rgb(233, 89, 89);
    display: flex;
    flex-direction: column;
    border-radius: 50%;
}
.footerContainer{
  
    display: flex;
    justify-content: space-around;
    flex:0.9;
    
}


.footerLeft >img{
    height: 40vh;
    width: 30vw;
    border-radius: 10%;
}

.footerRight{
    
    display: flex;
     height: 50vh;
     justify-content: end;
     margin-left:1.5rem;
    
}
form{
    width: 100%;
}

.formfield{
    justify-content: space-between;
    margin:10px;

}

label{
    margin:13px
}
input{
    height: 30px;
    width:90%;
    border-radius: 3%;
    border:none;
    background-color: rgb(149, 245, 6);
}

.formSubmit{
    padding:0.5em;
    cursor: pointer;
    font-weight: 700;
    margin-top: 1rem;
}

.footerLowerPart{
   margin-left: 2em;
   flex:0.1;
   display: flex;
     
}

.msgLogo img{
    height: 25px;
    margin-left:10px;
    cursor: pointer;
}







